# Utilizamos el modulo rewrite
# Si existe el modulo rewrite, se ejecutará internamente
<IfModule mod_rewrite.c>
    # Activar rewrite
    RewriteEngine on
    ErrorDocument 404 http://localhost/php-dwes/errors/404.html

    RewriteRule ^(resources)($|/) - [L]
    
    # No voy a poder cargar un directorio (!-d) ni un fichero (!-f) cualquiera
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    
    RewriteRule ^(.*)$ /php-dwes/index.php?path=$1 [NC,L,QSA]
</IfModule>